/*!
Website: IOTA FOUNDRY
Author: Marián Rehák
Author URI: https://www.marianrehak.com
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

/* Basic formatting */
html, body {
	max-width: 100vw !important;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body, h1, h2, h3, h4, h5, p, a, ul, li, .panel-title, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, label, button, input, select, textarea {
	color: #163965;
	font-size: 18px;
	line-height: 26px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 24px;
	font-weight: 700;
}

h1, h1 a {
	font-size: 96px;
	line-height: 1.2;
	font-weight: 900;
}

h2, h2 a {
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
}

h3, h3 a, .large {
	font-size: 32px;
	line-height: 1.25;
	font-weight: 600;
}

h4, h4 a {
	font-size: 18px;
	line-height: 1.2;
	color: #405985;
	margin-bottom: 10px;
}

.bit-larger {
	font-size: 20px;
	line-height: 1.2;
}

button.bit-larger {
	text-align: left;
	font-size: 18px;
	line-height: 1.3;
}

.medium {
    font-weight: 400;
}

.small, .small a {
	font-size: 14px;
}

a:visited, a:any-link {
	color: #000;
}

a:hover, a:focus {
	text-decoration: none;
	color: #000;
	outline: none;
}

p {
	margin-top: 0;
	margin-bottom: 24px;
}

#page a {
	text-decoration: underline;
}

#page a:hover {
	text-decoration: none;
}

a, a:visited, a:any-link {
	color: #163965;
}

img {
	width: 100%;
}

a img {
	transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
}

a:hover img {
	transform: scale(1.03);
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
	border: 1px solid #c7c7c7;
	border-radius: 0;
	padding: 4px;
	color: #000;
}

input[type="checkbox"], input[type="radio"] {
	height: 16px;
	width: 16px;
	margin-right: 20px;
	border: 1px solid #c7c7c7;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	border-radius: 0;
}

input[type="checkbox"]:checked, input[type="radio"]:checked, input[type="checkbox"]:checked, input[type="radio"]:focus {
	background: #000;
	outline: none;
}

ul li {
	margin: 15px 0;
}

/* Bootstrap formatting */
.container {
	max-width: 100%;
	width: 1440px;
	padding-left: 120px;
	padding-right: 120px;
}

.container.full {
	max-width: 100%;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.container.medium {
	width: 1100px;
}

.container.small {
	width: 800px;
}

table {
	margin: 0 0 32px 0;
}

/* Custom classes */
.top-15 {
	margin-top: 15px;
}

.top-20 {
    margin-top: 20px;
}

.top-30 {
	margin-top: 30px;
}

.top-40 {
    margin-top: 40px;
}

.top-75 {
    margin-top: 75px;
}

.top-100 {
    margin-top: 100px;
}

.top-120 {
    margin-top: 100px;
}

.top-130 {
    margin-top: 130px;
}

.top-150 {
	margin-top: 150px;
}

.bottom-100 {
	padding-bottom: 100px;
}

.bottom-120 {
	margin-bottom: 120px;
}

.max-500 {
    max-width: 500px;
}

.max-700 {
    max-width: 700px;
}

.flex-center {
	align-items: center;
}

.marginless {
	margin-bottom: 0;
}

.automargin {
    margin-left: auto;
    margin-right: auto;
}

.white, .white p, .white h1, .white h2, .white h3, .white li, .white a {
    color: #fff;
}

a.blue-link {
	color: #108CFF;
	font-weight: 600;
}

.button, .button:visited, .button:any-link {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 30px;
	text-align: center;
    border-radius: 10px;
    border: 1px solid #108CFF;
	background: #108CFF;
    color: #F0F5FE;
    margin-left: 20px;
	margin-right: 20px;
    font-weight: 700;
    overflow: hidden;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
	min-width: 225px;
	display: inline-block;
	text-decoration: none !important;
	min-width: 250px;
	text-align: center;
}

.button:hover {
    background: #F0F5FE;
    color: #108CFF;
}

.button.smaller {
    padding: 9px 21px;
	min-width: unset;
}

.button.detailed span {
	padding-top: 5px;
	display: block;
}

.left {
	margin-left: 0 !important;
}

.border-radius {
    border-radius: 30px;
}

.box {
    background: #F6F9FF;
	border: 1px solid #D7E8FE;
    box-sizing: border-box;
    padding: 100px 95px;
}

.box.wider {
	padding-left: 100px;
	padding-right: 100px;
}

.box.small {
	padding: 40px;
}

.box-white {
    background: #fff;
    box-sizing: border-box;
    padding: 115px 60px;
}

.box-white.larger {
	padding-top: 130px;
	padding-bottom: 130px;
}

.box p:last-child, .box-white p:last-child {
	margin-bottom: 0;
}

img.icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    max-width: 205px;
}

.arrow {
	position: relative;
	display: block;
	text-indent: -32px;
	padding-left: 32px;
}

.arrow:hover {
	text-decoration: underline;
}

.arrow::before {
	content: "";
	display: inline-block;
	position: relative;
	width: 19px;
	height: 15px;
	background-image: url("../img/arrow.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 13px;
	-moz-transition: all 250ms ease-in-out;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.box-shadow {
	-webkit-box-shadow: 4px 4px 16px rgba(0,0,0,0.3);
	box-shadow: 4px 4px 16px rgba(0,0,0,0.3);
}

/* Header */
#masthead {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 27px 0;
    background: #F6F9FF;
	border-bottom: 1px solid #D7E8FE;
	z-index: 99999;
}

#masthead.locked {
	position: fixed;
	top: 0 !important;
}

#masthead #main-menu a {
	font-weight: 700;
	margin: 0 10px;
	position: relative;
	font-size: 16px;
	line-height: 16px;
}

#masthead #main-menu a:not(.button)::after {
	content: " ";
	display: block;
	height: 5px;
	width: 100%;
	border-radius: 5px;
	background: #108CFF;
	position: absolute;
	left: 0;
	opacity: 0;
	bottom: -15px;
	-moz-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#masthead #main-menu a.active-link::after {
	opacity: 1;
	bottom: -10px;
}

#masthead #main-menu a:hover, #masthead #main-menu a:focus {
	text-decoration: none;
}

#masthead #main-menu a:not(.button):hover::after, #masthead #main-menu a:not(.button):focus::after {
	bottom: -10px;
	opacity: 1;
}

#masthead .button {
	display: inline;
}

.logo img {
    max-width: 272px;
	cursor: pointer;
}

#info-message {
	position: relative;
	z-index: 9999;
	background: #405985;
	padding: 18px 0;
}

/* Mobile menu toggler */
.navbar-toggle {
	width: 35px;
    height: 25px;
    border: 0;
    padding: 0;
	background: transparent;
	margin-top: -7px;
	float: right;
}

.navbar-toggle .toggle-icon {
    position: relative;
    width: 100%;
    height: 2px;
    display: inline-block;
    background: #405985;
    transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
	border-radius: 30px;
}

.navbar-toggle .toggle-icon:before, .navbar-toggle .toggle-icon:after {
    position: absolute;
    right: 0;
    height: 2px;
    background: #405985;
    content: " ";
	display: block;
	transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
	border-radius: 30px;
}

.navbar-toggle .toggle-icon:before {
    bottom: 8px;
	width: 100%;
}

.navbar-toggle .toggle-icon:after {
    top: 8px;
	width: 100%
}

.navbar-toggle.toggled .toggle-icon {
	transform: rotate(25deg);
}

.navbar-toggle.toggled .toggle-icon:before {
	transform: rotate(130deg);
	transform-origin: 16px 5px;
	width: 100%;
}

.navbar-toggle.toggled .toggle-icon:after {
	transform: rotate(-50deg);
	transform-origin: 9px -4px;
	opacity: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border:0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip:auto
}

/* Page */
#page {
	padding-top: 113px;
}

/* Homepage */
#intro {
	min-height: calc(100vh - 230px);
    padding: 100px 0 100px 0;
	position: relative;
}

#intro .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#intro video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#decide .middle {
	max-width: 120px;
}

#logo-firefly {
	width: 75%;
	max-width: 384px;
}

#tiles .col {
	padding: 0 30px;
}

#tiles .row {
	margin: 0 -30px;
}

#tiles img {
	max-height: 70px;
	max-width: 100%;
	margin-bottom: 15px;
}

#tiles #get-wallet img {
	margin-bottom: 20px;
	max-height: 105px;
}

#tiles a {
	text-decoration: none;
}

#tiles a:hover, #tiles a:focus {
	text-decoration: underline;
}

/* Voting Tutorial */
#tutorial-links {
	margin-left: -25px;
}

#tutorial-links a {
	min-width: 230px;
	max-width: 100%;
	padding: 15px;
	margin: 0 10px 10px 10px;
}

#tutorial-links .small {
	font-size: 13px;
}

.steps .box {
	position: relative;
}

.steps .box::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -40px;
	transform: translate(-50%, 100%);
	width: 60px;
	height: 40px;
	background-image: url("../img/arrow-down.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.steps .box.arrowless::after {
	display: none;
}

#ready {
	background: #163965;
	border-top: 1px solid #108CFF;
	border-bottom: 1px solid #108CFF;
}

/* FAQs */
#faqs .button {
	background: transparent;
	color: #163965;
	padding: 10px 0;
	margin: 0;
	border: none;
	position: relative;
	overflow: visible;
	max-width: 800px;
}

#faqs .button::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	top: 1px;
	background-image: url("../img/arrow-dark.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 7px;
	-moz-transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	transform: rotate(90deg);
	opacity: 0.5;
}

#faqs .button:hover::after {
	opacity: 1;
}

#faqs .button.active::after {
	transform: rotate(-90deg);
}

#faqs .button:hover {
	text-decoration: underline !important;
}

#faqs .card-body {
	border: 1px solid #D7E8FE;
	background: #F6F9FF;
	padding: 30px;
	margin: 15px 0 50px 0;
	border-radius: 30px;
}

#faqs .card-body p:last-child {
	margin-bottom: 0;
}

#faq-nav.box {
	padding: 30px;
	min-width: 270px;
}

#faq-nav a {
	display: block;
	text-decoration: none;
	font-weight: 700;
	margin: 8px 0;
	font-size: 20px;
}

#faq-nav a:hover {
	text-decoration: underline;
}

/* Footer */
#footer {
	padding: 27px 0;
	border-top: 1px solid #D7E8FE;
}

#socials {
	text-align: right;
}

#socials img {
	max-width: 35px;
	margin-left: 25px;
}

#socials a:hover img, #socials a:focus img {
	transform: scale(1.1);
}

#sub-footer a {
	text-decoration: underline;
}

#sub-footer a:hover {
	text-decoration: none;
}

/* Responsive */
@media (max-width: 1199px) {
	.container {
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}

	.box.wider {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (min-width: 992px) {
	.right-md-15 {
		padding-right: 15px;
	}

	.text-lg-right {
        text-align: right;
    }

	.wider-row .col {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.wider-row .row {
		margin-left: -30px;
		margin-right: -30px;
	}
}

@media (max-width: 991px) {
	.tabletmargin-30 {
        margin-top: 30px;
    }

    .tabletmargin {
        margin-top: 50px;
    }

	.tabletmargin100 {
		margin-top: 150px;
	}

	.container, .container.full {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.box, .box.wider, .box-white.larger {
		padding: 60px 30px;
	}

	.box.small {
		padding: 30px;
	}

	h1, h1 a {
		font-size: 70px;
	}

	#faq-nav {
		margin-bottom: 60px;
	}

	/* header */
	#main-menu {
		display: none;
		text-align: center;
		padding: 20px 0;
	}

	#masthead #main-menu a:not(.button) {
		display: block;
		margin: 20px 0;
	}

	#masthead #main-menu a:not(.button)::after {
		width: 100px;
		left: 50%;
		transform: translateX(-50%);
	}

	/* homepage */
	#intro {
		min-height: unset;
	}
	
	#intro .container {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
	}

	#decide .middle {
		max-width: 100%;
	}

	img.icon {
		width: 50%;
		max-width: 160px;
		transform: translateY(-50%);
		left: 15px;
	}
}

@media (min-width: 768px) {
    .text-sm-right {
        text-align: right;
    }
}

@media (max-width: 767px) {
	.text-xs-center {
		text-align: center;
	}
	
	.mobilemargin-15 {
        margin-top: 15px;
    }

	.mobilemargin-30 {
        margin-top: 30px;
    }

	.mobilemargin {
        margin-top: 50px;
    }

	.container, .container.full {
		padding-left: 15px;
		padding-right: 15px;
	}

	h1, h1 a {
		font-size: 50px;
	}

	h2, h2 a {
		font-size: 32px;
	}

	h3, h3 a, .large {
		font-size: 26px;
	}

	.top-75 {
		margin-top: 50px;
	}

	/* Homepage */
	#logo-firefly {
		width: 100%;
	}

	img.icon {
		width: 30%;
		transform: translateY(-70%);
	}

	/* About */
	.steps .box::after {
		width: 45px;
	}
}

@media (max-width: 576px) {
	#footer {
		text-align: center;
	}
	
	#socials {
		text-align: center;
	}

	#socials img {
		margin: 0 12px;
	}

	#footer .logo {
		margin-top: 30px;
	}
}


/* Timeline */
/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
	content: '';
	position: absolute;
	width: 3px;
	background-color: #405985;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
  }
  
  /* Container around content */
  .container-time {
	padding: 25px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
  }
  
  .container-time.last {
	  width: auto;
	  max-width: 450px;
	  padding: 10px 0 0 0;
	  margin-top: 35px;
	  z-index: 9999;
  }
  /* The circles on the timeline */
  .container-time::after {
	content: '';
	display: block;
	position: absolute;
	width: 35px;
	height: 4px;
	right: 0;
	background-color: #405985;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
  }

  .container-time.right::after {
	right: auto;
	left: 0;
  }

  .container-time.last::after {
	display: none;
}
  
  /* Place the container to the left */
  .timeline .left {
	left: 0;
  }
  
  /* Place the container to the right */
  .timeline .right {
	left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .timeline .left::before {
	content: " ";
	position: absolute;
	height: 10px;
	width: 10px;
	background: #405985;
	top: 50%;
	right: 40px;
	transform: rotate(45deg) translateY(calc(-50% - 2px));
	z-index: 1;
  }
  
  /* Add arrows to the right container (pointing left) */
  .timeline .right::before {
	content: " ";
	position: absolute;
	height: 10px;
	width: 10px;
	background: #405985;
	top: 50%;
	left: 30px;
	transform: rotate(45deg) translateY(calc(-50% - 2px));
	z-index: 1;
  }

  /* Add arrows to the last container (pointing top) */
  .timeline .last::before {
	content: " ";
	position: absolute;
	height: 10px;
	width: 10px;
	background: #405985;
	top: 12px;
	left: 50%;
	transform: rotate(45deg) translateX(calc(-50% - 4px));
	z-index: 1;
  }
  
  /* Fix the circle for containers on the right side */
  .timeline .right::after {
	left: 0;
  }
  
  /* The actual content */
  .timeline .content {
	padding: 35px 35px 20px 35px;
	background: #F6F9FF;
	border: 1px solid #D7E8FE;
	position: relative;
	border-radius: 30px;
  }


@media (max-width: 767px) {
	.timeline::after {
		left: 0;
		bottom: 100px;
	}

	.container-time {
		width: 100%;
	}

	.timeline .right {
		left: auto;
		right: auto;
	}

	.timeline .right::after {
		left: 0;
	}

	.timeline .left::before {
		right: auto;
		left: 30px;
	}

	.container-time::after {
		right: auto;
		left: 0;
	}

	.container-time.last {
		padding: 25px 40px;
		max-width: unset;
	}

	.timeline .last::before {
		top: 50%;
		left: 30px;
		transform: rotate(45deg) translateY(calc(-50% - 2px));
	}

	.container-time.last::after {
		content: '';
		display: block;
		position: absolute;
		width: 35px;
		height: 4px;
		right: 0;
		background-color: #405985;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}

	#tutorial-links a {
		min-width: 100%;
	}
	
}