:root {
  --color-primary: #F3C083;
  --color-secondary: #FFFFFF;
  --color-dark: #363E54;
  --color-border: #4E5B7A;
  --color-nav: #383F55;
  --color-tile-hover: #3A4152;
  --color-link: #EBA369;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

html {
  @apply text-secondary min-h-full min-w-full;
  
  background: rgba(78, 91, 122, 1.0);
  background: -webkit-radial-gradient(center, rgba(78, 91, 122, 1.0), rgba(54, 63, 82, 1.0)) fixed;
  background: -moz-radial-gradient(center, rgba(78, 91, 122, 1.0), rgba(54, 63, 82, 1.0)) fixed;
  background: radial-gradient(ellipse at center, rgba(78, 91, 122, 1.0), rgba(54, 63, 82, 1.0)) fixed;
}

.no-scroll {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    background: rgba(78, 91, 122, 1.0);
    background: -webkit-radial-gradient(center, rgba(78, 91, 122, 1.0), rgba(54, 63, 82, 1.0)) fixed;
    background: -moz-radial-gradient(center, rgba(78, 91, 122, 1.0), rgba(54, 63, 82, 1.0)) fixed;
    background: radial-gradient(ellipse at center, rgba(78, 91, 122, 1.0), rgba(54, 63, 82, 1.0)) fixed;
}

.no-scroll .header {
  margin-top: 0;
}

.header {
  @apply h-80 -mt-28 pt-32 px-8 lg:h-128 lg:m-0 lg:p-0;

  background: url('../img/waves.svg') no-repeat;
  background-size: cover;
}

.heading-vector {
  background: url('../img/star_pattern.svg') no-repeat;
  background-size: 0;
}

@media (min-width: 1024px) { 
  .header {
    background-size: 100% 100%;
  }

  .heading-vector {
    background-size: 100% 100%;
  }
}

.logo {
  text-indent: -9999px;
  width: 200px;
  height: 50px;
  background: url('../img/logo.svg') no-repeat;
  background-size: 100%;
}

.logo-icon {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url('../img/logo_icon.svg') no-repeat;
  background-size: 100%;
}

.logo-hp {
  display: block;
  text-indent: -9999px;
  max-width: 400px;
  width: 100%;
  height: 200px;
  background: url('../img/logo_hp.svg') no-repeat;
  background-size: 100%;
}

.faq_img {
  position: absolute;
  top: -12px;
  left: 0;
  margin-left: -374px;
  text-indent: -9999px;
  width: 374px;
  height: 310px;
  background: url('../img/faq_illustration.svg') no-repeat;
  background-size: 100%;
}

.how_img {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -281px;
  text-indent: -9999px;
  width: 281px;
  height: 272px;
  background: url('../img/how_illustration.svg') no-repeat;
  background-size: 100%;
}

.download_img {
  @apply hidden lg:flex lg:flex-col lg:items-center lg:justify-center;
  
  margin: auto;
  width: 900px;
  height: 290px;
  background: url('../img/download_bg.svg') no-repeat;
  background-size: 100%;
}

nav {
  @apply rounded-3xl shadow-sm bg-navColor mx-6 mt-4 mb-8 lg:px-24 lg:py-3 leading-4 lg:mx-4 lg:mt-6;
}

.nav-transparent {
  background: rgba(56, 63, 85, .7);
}

.nav__item a {
  @apply font-bold text-2xl lg:text-lg border-b-2 border-transparent transition-colors hover:border-primary;
}

.list ul > li {
  @apply relative pl-8 lg:leading-10;
}

.list ul > li::before {
  @apply absolute rounded-full;

  content: "";
  width: 1rem;
  height: 1rem;
  top: calc(0.5rem - 0.1875em);
  left: 0;
}

.list ul > li:nth-child(even)::before {
  @apply bg-primary;
}

.list ul > li:nth-child(odd)::before {
  @apply bg-link;
}

.btn {
  @apply rounded-2xl bg-link text-secondary font-bold text-lg lg:p-4 transition-colors;
}

.btn:hover {
  @apply bg-primary;
}

.container {
  @apply px-8 lg:px-4 lg:max-w-2xl xl:max-w-3xl 2xl:max-w-4xl;
}

footer {
  @apply bottom-0 text-center w-full py-4;
}

.ico-plus {
  @apply border-t-2 border-dark mt-2 bottom-0 left-0 right-0 absolute text-center h-0;
}

.ico-plus span {
  @apply bg-dark rounded-b-2xl px-4 pt-1 pb-2;
}

.link {
  @apply text-primary text-lg hover:text-link;
}

abbr {
  @apply text-link font-black text-sm tracking-wider;
}

p {
  @apply text-lg;
}

h1 {
  @apply text-2xl mb-3 text-center lg:text-5xl lg:py-40;
}

h2 {
  @apply lg:text-4xl text-xl font-bold text-primary mb-6 lg:mb-8 text-center;
}

h3 {
  @apply text-xl font-bold mb-3 text-link uppercase;
}

.custom-divider {

  @apply block my-12 lg:my-16;

  text-indent: -9999px;
  width: 184px;
  height: 18px;
  background: url('../img/divider_custom.svg') no-repeat;
  background-size: 100%;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
