<div class="logo-hp lg:-mt-40">
</div>

<!-- Introduction -->
<p class="my-4 text-secondary tracking-wider">
    The community has been offered the option to decide the further destiny of unclaimed tokens from the initial crowd
    sale and some network upgrades in 2017. Users needed to claim their funds in these early stages of the network.
    Those that have not been claimed until today could now be transferred into the control of the community. The node
    operators had two options with the launch of Chrysalis:
</p>

<div class="w-full grid lg:grid-cols-2 gap-4 my-16 lg:px-4 lg:mx-0 text-center">

    <div class="bg-dark rounded-3xl text-center py-8 lg:h-52 flex items-center justify-center">
        <div class="flex flex-col w-min" style="min-width: 13rem;">
            <p class="font-black tracking-wider lg:text-2xl">Choose to keep everything as it was before</p>
            <abbr>(IOTA AS Fork)</abbr>
        </div>
    </div>

    <div class="bg-dark rounded-3xl text-center py-8 lg:h-52 flex items-center justify-center">
        <div class="flex flex-col w-min" style="min-width: 16rem;">
            <p class="font-black tracking-wider lg:text-2xl">Give the community the chance to decide the further usage of those funds</p>
            <abbr>(IOTA Chrysalis Mainnet)</abbr>
        </div>
    </div>

</div>

<p class="my-4 text-secondary tracking-wider">
    Not a single user or node operator has taken the chance of IOTA AS, and so the IOTA community now has two options to
    choose from and continue. Read the details about this topic in the following BlogPosts from IF:
</p>

<div class="text-center space-y-2 grid lg:mt-12">
    <a class="link" href="https://blog.iota.org/unclaimed-tokens-community-treasury-and-iota-as-faq/
    " target="_blank">https://blog.iota.org/unclaimed-tokens-community-treasury-and-iota-as-faq/</a>
    <a class="link" href="
    https://blog.iota.org/iota-community-treasury-and-genesis-validation/" target="_blank">
        https://blog.iota.org/iota-community-treasury-and-genesis-validation/</a>
</div>

<div class="custom-divider"></div>

<!-- Navigation tiles -->
<div class="bg-tileColor rounded-3xl p-4 lg:pt-8 lg:pb-0 uppercase text-center w-full shadow-md">
    <h2>Learn more about the treasury</h2>
</div>
<div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-4 my-8 lg:px-4 lg:mx-0 text-center">

    {% if quicklinks.links %}

    {% for item in quicklinks.links %}
    <a href="{{item.url}}"
        class="group p-5 rounded-3xl shadow-md bg-tileColor hover:bg-tileHover transition-colors">
        <h3 class="group-hover:text-borderColor">{{item.title}}</h3>
        <p>{{item.desc}}</p>
    </a>
    {% endfor %}

    {% endif %}

</div>
