<!-- Social links -->

<div class="w-full flex justify-center space-x-4 lg:space-x-6 mb-12 mt-24">
    {% if socials.links %}

    {% for item in socials.links %}
    <a href="{{item.url}}" target="_blank"
        class="group w-8 h-8 lg:w-16 lg:h-16 text-center p-1 lg:p-5 rounded-full shadow-md bg-primary hover:bg-link transition-colors">
        <p>{{item.icon}}</p>
    </a>
    {% endfor %}

    {% endif %}
</div>

<footer class="container">
    <div class="border-t border-borderColor pt-4">
        <small class="text-secondary ">Copyright ©
            {{settings.name}}
            2021. Made with ❤ by
            <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
            •
            <a href="https://github.com/iota-community/treasury-web" class="underline" target="_blank"
                rel="noopener">View on Github</a>
        </small>
    </div>
</footer>

<!-- class="{{ 'fixed' if path == 'home' }}" -->
